<@- include('include/_header.ejs', {data:{title:"我的e家-修改密码"}}); @>
<body>
<@- include('include/_navbar.ejs', {data:{title:''}}); @>
<section class="container-fluid">
    <form class="form-horizontal" >
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">账号</label>
            <div class="col-sm-10">
                <input type="email" class="form-control"  placeholder="请输入账号" id="accound">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">旧密码</label>
            <div class="col-sm-10">
                <input type="password" class="form-control"  placeholder="请输入原密码" id="old_pw">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">新密码</label>
            <div class="col-sm-10">
                <input type="password" class="form-control"  placeholder="请输入新密码" id="new_pw">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">请再次输入新密码</label>
            <div class="col-sm-10">
                <input type="password" class="form-control"  placeholder="请输入新密码" id="new_pw2">
            </div>
        </div>
        <div class="form-group" id="update-btn">
            <div class="col-sm-offset-2 col-sm-10 text-center">
                <div class="btn btn-danger  btn-lg" id="vertify" style="width:40%">确定</div>
                <div class="btn btn-danger  btn-lg" style="width:40%" id="abolish">取消</div>
            </div>
        </div>
        <div class="alert alert-success" id="success-btn" style="position: absolute;width:80%;top:30%;left:10%;display:none">
            <dl style="text-align: center">
                <dd style="font-size:1.5rem">修改成功！</dd>
                <dt style="font-size: 2rem;">请重新登录！</dt>
            </dl>
        </div>
    </form>
</section>
<@- include('include/_footer.ejs',{data:{main:"js/update-password"}}); @>