<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title><@= data.title @></title>
    <meta name="format-detection" content="telephone=no,email=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="<@= ctx @>css/pw.css?v=<@= _build.ts @>">
    <script type="text/javascript">
        var _ipos = {
            ctx : "<@= ctx @>",
            version:"<@= _build.version @>",
            ts:"<@= _build.ts @>"
        };
    </script>
</head>
