<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="row">
			<div class="navbar-header col-xs-4 col-md-4 col-sm-4">
				<span id="nav" class="navbar-brand" style="padding: 15px 20px;background: url('../images/icon-left.png') no-repeat left;">我的e家</span>
			</div>
			<div class="col-xs-8 col-md-8 col-sm-8 nav-margin-top">
				<input type="text" class="top-navbar" placeholder="Search">
				<div class="btn btn-default">搜索</div>
			</div>
		</div>
	</div>
</nav>
<div class="alert alert-danger text-center" role="alert" style="display: none" id="error"></div>
<div class="alert alert-success text-center" role="alert" style="display: none" id="success"></div>

